.container-first{
  background-color: white;
  max-width: 100%;
  padding-left: 4em;
  padding-top: 1em;
  color: #005a99;
  margin-bottom:0.5em;
}

img{
  height: auto;
  max-width: 100%;
}
.carousel-item{
  height:560px;
  max-width: 100%;
  /*background-color:#005a99;*/
  /*gradiet coloring*/
  background: linear-gradient(to top left, #44829a -104%, #160f34 135%);
}
.carousel-control-next-icon, .carousel-control-prev-icon{
  background-image:none;
}
