.jumbotron {
  background-color: #005a99;
  color: white;
  border-radius: 0;
  margin-bottom: 0;
}
.content-title h3{
  color: #008fb9;
  border-bottom: 5px dotted #00b4f5;
  padding-bottom: 5px;
  text-align: -webkit-center;
}
.container-first{
  background-color: #00b4f5;
  max-width: 100%;
}
.container-first .tabing:nth-child(1), .container-first .tabing:nth-child(2), .container-first .tabing:nth-child(3){
  background-color: #005a99;
}
.container-first .tabing:nth-child(1):hover{
  background-color:#ee2f62;
}
.container-first .tabing:nth-child(2):hover{
  background-color:#5341ad;
}
.container-first .tabing:nth-child(3):hover{
  background-color:#34af45;
}
img{
  height: auto;
  max-width: 100%;
}
.carousel-item{
  height:451px;
  max-width: 100%;
  background-color:#005a99;
}

