.jumbotron {
  background-color: #00c59a;
  color: white;
  border-radius: 0;
}
.content-title h3{
  color: #009b8b;
  border-bottom: 5px dotted #009b8b;
  padding-bottom: 5px;
  text-align: -webkit-center;
}
